@font-face {
    font-family: 'istokregular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/istok-regular-webfont.woff2') format('woff2');
}@font-face {
    font-family: 'istokbold';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/istok-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}