@font-face {
    font-family: 'istokregular';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/istok-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'istokbold';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/istok-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'notosans';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/notosans-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/roboto-thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}