.bookmarks {
    position:fixed;
    top: -2.5em;
    left:0;
    width: 100%;
    text-align: left;
    padding: 0 1em;
    opacity: 0;
    transition: all .3s;
    z-index: 50;
    &.active {
        opacity: 1;
        top: 0;
    }
    ul {
        list-style: none;
        padding: 0 0 0 0.5em;
        margin: 0;
        position: absolute;
        left: 0;
        transition: left 0.3s;
    }
    li {
        max-width: 6em;
        float: left;
        // margin-right: 0.5em;
        position: relative;
        padding: 0.2em 0.7em 0.2em 0.2em;
        a {
            padding: 0.3em;
            &:hover, &:focus {
                box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
            }
        }
    }
    a {
        white-space: nowrap;    
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        height: 1.5em;
        text-decoration: none;
        color: #000;
        font-size: 0.75em;
        cursor: pointer;
        line-height: 0.9;
    }
    .sublinks {
        display: none;
        position: absolute;
        top: 1.5em;
        left: 0;
        background-color: $opaqueBackground;
        padding-top: 0.3em;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.44);
        padding-left: 0;
        &.active {
            display: block;
        }
        li {
            max-width: 10em;    
            clear: left;
            width: 100%;
        }
        a {
            &:hover, &:focus {
                box-shadow: none;
                background: rgb(115, 115, 250);
            }
        }
    }
    .hover {
        position: absolute;
        top: 0;
        width: 50px;
        height: 50px;
        // background-color: red;
    }
    .hover--left {
        left: 0;
    }
    .hover--right {
        right: 30px;
    }
}