.current-time {
    font-size: 4em;
    line-height: 1;
    width: 4em;
    margin: 0 auto;
}
.bk {
    display: inline-block;
    min-width: 70px;
    text-align: left;
}
.hr {
    text-align: right;
}
.current-location {    
    &:before {
        content: "\e62f";
        font-family: "icomoon";
        display: inline-block;
        font-size: 15px;
        margin-right: 0.3em;
        top: 1px;
        position: relative;
    }
}
// clock

.clock {
    width: 32px;
    height: 32px;
    fill: $defaultcolour;
}
.clock.is-x10 {
    width: 200px;
    height: 200px;
}
@media only screen and (min-height: 600px) {
    .clock.is-x10 {
        width: 250px;
        height: 250px;
    }
}