.current-time {
    font-family: 'roboto';
    font-size: 4em;
    line-height: 1;
    width: 5.5em;
    margin: -3em auto 0;
    font-weight: normal;
    @media #{$laptop} {
        font-size: 9em;
        margin-top: 0;
    }
    @media #{$large} {
        font-size: 13em;
    }
}
.bk {
    display: inline-block;
    text-align: center;
    min-width: 72px;
    @media #{$laptop} {
        min-width: 165px;
    }
    @media #{$large} {
        min-width: 235px;
    }
}
// .hr {
//     text-align: right;
// }
// .sc {
//     text-align: left;
// }
.current-date {
    margin-bottom: 2em;
}

// clock

.clock {
    width: 32px;
    height: 32px;
    fill: $defaultcolour;
}
.clock.is-x10 {
    width: 100px;
    height: 100px;
    opacity: 0.05;
    position: absolute;
    top: 7em;
    left: 50%;
    margin-left: -50px;
    @media only screen and (min-height: 600px) {
        width: 350px;
        height: 350px;
        margin-left: -175px;
    }
    @media #{$laptop} {
        margin-top: -7em;
    }
    @media #{$large} {
        margin-top: 1em;
    }
}