*, *:after, *:before {box-sizing: border-box; }
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 16px;
    // color: $background;
    color: $defaultcolour;
    text-align: center;
    -webkit-transition: color 0.5s;
    -webkit-transition: opacity 0.5s ease;
    opacity: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    &.load {
        background: $background;
        // color: $defaultcolour;
        opacity: 1;
    }
}

::selection { 
    background: $background;
    color: $defaultcolour;
}   

h1 { 
  font-size: 2em;
}

p {
    font-size: 1em;
    // font-family: 'istokregular', sans-serif;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    margin: 0 0 0.3em;
    line-height: 2;
}
a {
    color: $linkcolour;
    &:hover,
    &:focus {
        color: $linkhover;
    }
}
// strong {
//     font-family: istokbold;
// }

.error-message {
    font-size: 0.85em;
}

.change-location {
    display: block;
    font-size: 0.8em;
    text-align: left;
    width: 232px;
}