html {
    height: 100%;
}
body {
    height: 100%;
    background: url(images/loader.gif) no-repeat center #F1F3F4;
    // color: #F1F3F4;
    color: #606090;
    text-align: center;
    -webkit-transition: color 0.5s;
    -webkit-transition: opacity 0.5s ease;
    opacity: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    &.load {
        background: #F1F3F4;
        // color: #606090;
        opacity: 1;
    }
}

::selection { 
    background: #F1F3F4;
    color: #606090;
}   

h1 { 
  font-size: 2em;
}

p {
    font-size: 1em;
    font-family: istokregular;
    margin: 0 0 0.3em;
    line-height: 2;
}
strong {
    font-family: istokbold;
}

.error-message {
    font-size: 0.85em;
}

.change-location {
    display: block;
    font-size: 0.8em;
    text-align: left;
    width: 232px;
}

.last-known {
    font-size: 0.8em;
}