// weather icons
.icon {
    &:before {
        font-family: "icomoon";
        display: inline-block;
        font-size: 50px;
        margin-right: 0.1em;
    }
}
.icon-0 {
    &:before {
        content: "\e605";
    }
}
.icon-1 {
    &:before {
        content: "\e605";
    }
}
.icon-2 {
    &:before {
        content: "\e605";
    }
}
.icon-3 {
    &:before {
        content: "\e60f";
    }
}
.icon-4 {
    &:before {
        content: "\e60e";
    }
}
.icon-5 {
    &:before {
        content: "\e614";
    }
}
.icon-6 {
    &:before {
        content: "\e614";
    }
}
.icon-7 {
    &:before {
        content: "\e614";
    }
}
.icon-8 {
    &:before {
        content: "\e611";
    }
}
.icon-9 {
    &:before {
        content: "\e611";
    }
}
.icon-10 {
    &:before {
        content: "\e611";
    }
}
.icon-11 {
    &:before {
        content: "\e611";
    }
}
.icon-12 {
    &:before {
        content: "\e611";
    }
}
.icon-13 {
    &:before {
        content: "\e614";
    }
}
.icon-14 {
    &:before {
        content: "\e614";
    }
}
.icon-15 {
    &:before {
        content: "\e614";
    }
}
.icon-16 {
    &:before {
        content: "\e616";
    }
}
.icon-17 {
    &:before {
        content: "\e616";
    }
}
.icon-18 {
    &:before {
        content: "\e616";
    }
}
.icon-19 {
    &:before {
        content: "\e60d";
    }
}
.icon-20 {
    &:before {
        content: "\e60d";
    }
}
.icon-21 {
    &:before {
        content: "\e60d";
    }
}
.icon-22 {
    &:before {
        content: "\e60d";
    }
}
.icon-23 {
    &:before {
        content: "\e612";
    }
}
.icon-24 {
    &:before {
        content: "\e612";
    }
}
.icon-25 {
    &:before {
        content: "\e615";
    }
}
.icon-26 {
    &:before {
        content: "\e60d";
    }
}
.icon-27 {
    &:before {
        content: "\e608";
    }
}
.icon-28 {
    &:before {
        content: "\e607";
    }
}
// partly cloudy (night)
.icon-29 {
    &:before {
        content: "\e608";
    }
}
// partly cloudy
.icon-30 {
    &:before {
        content: "\e607";
    }
}
.icon-31 {
    &:before {
        content: "\e602";
    }
}
.icon-32 {
    &:before {
        content: "\e601";
    }
}
.icon-33 {
    &:before {
        content: "\e602";
    }
}
.icon-34 {
    &:before {
        content: "\e601";
    }
}
.icon-35 {
    &:before {
        content: "\e617";
    }
}
.icon-36 {
    &:before {
        content: "\e601";
    }
}
.icon-37 {
    &:before {
        content: "\e61a";
    }
}
.icon-38 {
    &:before {
        content: "\e61a";
    }
}
.icon-39 {
    &:before {
        content: "\e61a";
    }
}
.icon-40 {
    &:before {
        content: "\e610";
    }
}
.icon-41 {
    &:before {
        content: "\e616";
    }
}
.icon-42 {
    &:before {
        content: "\e616";
    }
}
.icon-43 {
    &:before {
        content: "\e616";
    }
}
.icon-44 {
    &:before {
        content: "\e607";
    }
}
.icon-45 {
    &:before {
        content: "\e60e";
    }
}
.icon-46 {
    &:before {
        content: "\e614";
    }
}
.icon-47 {
    &:before {
        content: "\e60e";
    }
}