.weather-forecast {

}

.forecast {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    li {
        float: left;
        margin-right: 1.5em;
        &:last-child {
            margin-right: 0;
        }
    }
    p {
        line-height: 1;
        font-size: 0.95em;
    }
    .icon:before {
        width: 100%;
        margin-bottom: 0.2em;
        margin-right: 0;
    }
}

.weather-now {
    font-size: 3.5em;
    line-height: 1;
    position: relative;
    padding-bottom: 0.3em;
    .type {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        font-size: 0.25em;
    }
}

.sunset {
    font-size: 0.8em;
    line-height: 1;
    margin-bottom: 1.5em;
    &:before {
        content: "\e600";
        font-family: "icomoon";
        display: inline-block;
        font-size: 20px;
        margin-right: 0.1em;
        top: 2px;
        position: relative;
    }
}

// .wind-speed {
//     &:before {
//         content: "\e631";
//         font-family: "icomoon";
//         display: inline-block;
//         font-size: 20px;
//         margin-right: 0.1em;
//         top: 2px;
//         position: relative;
//         -webkit-transform: rotate(45deg);
//     }
// }